@font-face {
    font-family: "Open_Sans";
    src: url("./fonts/OpenSans-VariableFont_wdth\,wght.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bruno_Ace_SC";
    src: url("./fonts/BrunoAceSC-Regular.ttf")format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-VariableFont_wght.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Open_Sans;
}

.navbar-text{
    color: rgb(250, 250, 250)
}

.navbar-brand{
    color: rgb(250, 250, 250);
    font-family: Nunito;
    font-size: 2.5rem;
}

.navbar-brand:hover{
    color: rgb(250, 250, 250);
    font-family: Nunito;
}

.site-header-logo h1{
    color: rgb(13, 1, 34);
    font-family: Nunito;
    font-size: 2rem;
    margin-top: 2rem;
}